@import url(https://db.onlinewebfonts.com/c/900f8add35323c44ee840c611ed9a7a5?family=Pokemon+Classic+Regular);
@media only screen and (min-width: 100px) {
  body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% auto ;
    grid-template-areas: 
    "main"
    ;
    height: 100vh;
    width: 100%;
    text-align: center;
  }

  
  
  .headerText{
    padding-top:2rem;
    margin-left: 1rem;
    padding-right: 2rem;

  }

  .allyPartnerHeader{
    display: flex;
    position: fixed;
    right: 0;
  }

  .rankHeader{
    visibility: hidden;
  }

  
  main{
    grid-area: main;
  }
  main>section {
    padding: 3rem;
  }

  .mainTitleScreen{
    background-image: url("../assets/imgs/Background2.jpg");
     background-size: cover;
     background-position: center;
    height: 100vh;
    width: 100%;
    
  }

  .headerRankText{
    font-size: 2rem;
  }

  /*Image by <a href="https://www.freepik.com/free-vector/abstract-pixel-rain-background_6348966.htm#page=2&query=nintendo%20background&position=1&from_view=keyword&track=ais&uuid=07f2dc6a-393f-4c02-bbbc-7a87032429a1">Freepik</a>*/
  .mainProjectScreen{
    background-image: url("../assets/imgs/Nintendo-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-top: 5vh;
  }

  .mainLogin{
    background-image: url("../assets/imgs/login-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-top: 20vh;
  }

  .mainSignup{
    background-image: url("../assets/imgs/login-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-top: 20vh;
  }

.battleHeader{
  position: fixed;
  top: 0;
  background-color: lightgray;
  padding: 1rem;
  display: flex;
  font-size: 1rem;
  font-weight: bolder;
  border:  black;
  border-style: double;
  width: 100%;
  border-width: 1rem;
  font-family: "Pokemon Classic Regular";    
}

  /* battle background link: https://www.smogon.com/forums/threads/battle-backgrounds-for-pokemon-showdown.3457276/#lg=_xfUid-3-1710787322&slide=0*/

  .battleMain{
    background-image: url("../assets/imgs/battle-background.jpg");
    background-size: cover;
    background-position:center;
    height: 80vh;
    width: 100%;
    padding-top: 10rem;
  }

  .transparancyTitleScreen{
    height: 100vh;
    background-color: rgb(0, 0, 0,0.6);
    padding-top: 10rem;
  }

  .btn-primary{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    font-size: 1rem;            
    border-radius: 25px; 
    border: solid black;
    height: 4rem;   
    width: 15rem;  
    font-family: "Pokemon Classic Regular";
                 
  }

  a:link { 
    text-decoration: none; 
    color: black;

  } 
  a:visited { 
    text-decoration: none; 
    color: black;

  } 
  a:hover { 
    text-decoration: none; 
    color: black;

  } 
  a:active { 
    text-decoration: none; 
    color: black;

  }

  .btn-primary:hover{
    background-color: gray;
    border: solid black;
  }

  .buttonLoginContainer{
    margin-top: 20rem;
    text-align: center;  
  }

  .buttonSignupContainer{
    margin-top: 1rem;
    text-align: center;    
  }

  .ProjectScreenBtn{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    font-size: 1.5rem;            
    border-radius: 25px; 
    height: 4rem;   
    width: 15rem;  
    text-align: center; 
    margin-top: 4rem;

  }
  .bottomProjectScreen{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 6rem; 
    padding:0 16px;
  margin:0 auto;
  width: 30rem;
  border-radius: 15px;

  }

  .thumbnailImage{
    margin-top: 10rem;
    margin-left: 20vw;
    border-style: solid;
    border-color: black;
  }

 .gameName{
  font-size: 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
  margin-left: 2rem;
  text-align: center;
  color: white;
  
 }

 input {
  display:block;
  border-radius: 25px;
  height: 45px;
  width: 15rem;
  padding:0 16px;
  margin:0 auto;
  }

.loginform{
  background:transparent;
  border: 2px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  padding-bottom: 2rem;
   margin-left: 15vw;
   margin-right: 15vw;
   border-radius: 25px;
}

.loginSubmit{
    background-color: white;
    color:black;
    font-size: 0.8rem;            
    border-radius: 25px; 
    height: 4rem;   
    width: 12rem;  
    margin-top: 2rem;
    font-family: "Pokemon Classic Regular";


 }
 
 .loginTitle{
  margin-top: 5rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  color: white;
  text-shadow: 1px 5px 2px black;
  font-family: "Pokemon Classic Regular";

 }

 .form-control{
  height: 3rem;   
  width: 20rem;   
  margin-top: 2rem;
 }

 .ProfileAvatar{
  background-image: url("../assets/imgs/Boy-headshot.jpg");
  background-size: cover;
  background-position: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border:solid black;
 }

 .avatar{
  background-image: url("../assets/imgs/Boy-headshot.jpg");
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  padding:0 16px;
  margin:0 auto;
  
 }

 .projectScreenImage{
  background-image: url("../assets/imgs/APmon-game.jpg");
  background-size: cover;
  background-position: center;
  height: 22rem;
  width: 22rem;
  padding:0 16px;
  margin:0 auto;
  border-radius: 8px;
  margin-bottom: 1rem;
 }
.carousel-indicators{
  margin-top: 2rem;
  padding-top: 5rem;
}

 .signupTitle{
  color: white;
  text-shadow: 1px 3px 2px black;
  font-family: "Pokemon Classic Regular";
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;

 }

 .signupform{
  background:transparent;
  border: 2px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  padding-bottom: 2rem;
   margin-left: 15vw;
   margin-right: 15vw;
   border-radius: 25px;
 }
 
 .radiobuttons{
  margin-top: 1rem;
  display:flex;
  
 }

 .genderImage{
 margin-top: 2rem;
 text-align: center ;
 
 }

 .projectScreenContainer{
  background:transparent;
  border: 2px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  background-color: rgb(0, 0, 0, 0.2);
  padding-bottom: 2rem;
   margin-left: 5vw;
   margin-right: 5vw;
   border-radius: 25px;
   padding-top: 2rem;
 }

.titlescreen-image{
padding: 2rem;
 border-radius: 25px;
 display: inline-block;
 border: 2px solid rgba(255,255,255,0.3);
 backdrop-filter: blur(25px);
}

.titlesignup,h2{
  text-align: center;
}


.character{
  border: solid black ;
  margin-top: 2rem;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 25px;
  text-align: center;

}

.buttonExitGameContainer{
  margin-top: 1rem;
  text-align: center;      
}

.ProjectScreenBtn:hover{
  scale: 110%;
  background-color: lightgray;
}


.freePik-attribute{
  color: white;
  margin-left: 1rem;
  margin-top: 5rem;
  font-size: 0.5rem;
}

.gridEnemy{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.EnemyHP{
  grid-column: 1/3;
  text-align: left;
  margin-top: 2rem;
  margin-left: 2rem;
  padding-top:1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  height: 6rem;
  background-color: red;
  border: solid black;


}

.EnemyPokemon{
  grid-column: 3/5;
  text-align: center;
}

.gridAlly{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.enemySprite{
    
  min-width: 10rem;
  width: 15rem;
  filter: drop-shadow(5px 5px 5px #222);

  
}


.mySprite{
  width: 15rem;
  min-width: 10rem;
  filter: drop-shadow(-5px 10px 5px #222);

}


.AllyHP{
  grid-column: 3/5;
  text-align: left;
  margin-top: 4rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-top:1rem;
  border-radius: 10px;
  height: 6rem;
  background-color: green;
  grid-row:1 ;
  padding-right: 1rem;
  border: solid black;
  
}


.AllyPokemon{
  grid-column: 1/3;
  text-align: center;
  grid-row:1 ;
}

.battleName{
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  font-family: "Pokemon Classic Regular";
}

.battleBottom{
  position: fixed;
  bottom: 0;
  border: solid black;
  border-width: 0.5rem;
  border-radius: 10px;
}


.infoBattle{
  border: black;
  border-style: inset;
  border-width: 1rem;
  background-color:gray;
  color: white;
  padding: 1rem;
  height: 10rem;
  font-family: "Pokemon Classic Regular";
  font-size: 0.8rem;
  text-align: left;
  
}

.commands{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: gray;
  border:  black;
  border-style: outset;
  font-family: "Pokemon Classic Regular";
}

.attack{
  grid-column: 1;
  border:  black;
  border-style: outset;
  padding-top: 0.5rem;
  border-radius: 10px;
  background-color: white;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bolder;

}

.attack:hover{
  border:  black;
  border-style: outset;
  background-color: lightgray;
}

.catch:hover{
  border:  black;
  border-style: outset;
  background-color: lightgray;
}

.run:hover{
  border:  black;
  border-style: outset;
  background-color: lightgray;
}

.catch{
  grid-column: 2;
  border:  black;
  border-style: outset;
  padding-top: 0.5rem;
  border-radius: 10px;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bolder;

}

.run{
grid-column: 3;
border:  black;
border-style: outset;
padding-top: 0.5rem;
border-radius: 10px;
background-color: white;
font-size: 1.2rem;
  font-weight: bolder;

}

.progress{
  margin-bottom: 2rem;
  height: 1.5rem;
  border: solid white;

}


.textBeforeHP{
  font-family: "Pokemon Classic Regular";
  background-color: black;
  color: white;
  font-size: 0.5rem;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}




}

@media only screen and (min-width: 600px) {
  .signupform{
 
     margin-left: 15vw;
     margin-right: 15vw;
   }

   .projectScreenContainer{
     margin-left: 15vw;
     margin-right: 15vw;
   
   }
    
}

@media only screen and (min-width: 800px) {
  
  .mainTitleScreen{
    background-image: url("../assets/imgs/Background2.jpg");
     background-size: cover;
     background-position: center;
  height: 100vh;
  width: 100%;
  }

  
  .titlescreen-image{
    padding: 2rem;
   border-radius: 25px;
   text-align: center;
  }

  .signupform{
    margin-left: 20vw;
  margin-right: 20vw;
}

 
}

@media only screen and (min-width: 1200px) {
 
  body{
    background-color: black;
  }

  .projectScreenContainer{
    margin-left: 30vw;
    margin-right: 30vw;
  
  }
  .mainTitleScreen{
  object-fit: cover;
  height: 100vh;
  width: 100%;
  background-size:cover;
  background-attachment: fixed;
  }

  .transparancyTitleScreen{
    height: 100vh;
    background-color: rgb(0, 0, 0,0.6);
    padding-top: 10rem;
  }

  .signupform{
       margin-left: 30vw;
     margin-right: 30vw;
   }

   .loginform{
    padding-bottom: 2rem;
     margin-left: 30vw;
     margin-right: 30vw;
  }
   
  .buttonLoginContainer{
    margin-top: 20rem;
    text-align: center;  
  }



}