@media only screen and (min-width: 100px) {
body{
  background-color: black;
}
}

@media only screen and (min-width: 600px) {

  body{
    background-color: lightgray;
    text-align: center
  }

  .mainTitleScreen{
    background-image: url("../assets/images/Background2.jpg");
     background-size: cover;
     background-position: center;
  height: 100vh;
  width: 100%;
  }

  /*Image by <a href="https://www.freepik.com/free-vector/abstract-pixel-rain-background_6348966.htm#page=2&query=nintendo%20background&position=1&from_view=keyword&track=ais&uuid=07f2dc6a-393f-4c02-bbbc-7a87032429a1">Freepik</a>*/
  .mainProjectScreen{
    background-image: url("../assets/images/Nintendo-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }

  .transparancyTitleScreen{
    height: 100vh;
    background-color: rgb(0, 0, 0,0.6);
    padding-top: 10rem;
  }

  .btn-primary{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    font-size: 2rem;            
    border-radius: 25px; 
    height: 5rem;   
    width: 15rem;                   
  }

  .btn-primary:hover{
    background-color: gray;
  }
  .buttonLoginContainer{
    margin-top: 20rem;
    text-align: center;   
  }

  .buttonSignupContainer{
    
    margin-top: 2rem;
    text-align: center;    
  }

  .ProjectScreenBtn{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    font-size: 2rem;            
    border-radius: 25px; 
    height: 5rem;   
    width: 20rem;  
    text-align: center; 
    margin-top: 4rem;

  }
  .bottomProjectScreen{
    text-align: center;
  }

  .thumbnailImage{
    margin-top: 10rem;
    margin-left: 20vw;
    border-style: solid;
    border-color: black;
  }

  .carousel-inner{
 padding-top: 4rem;
  }
   
 .gameName{
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  text-align: center;
  color: white;
 }

 .loginform{
  margin-left: 10rem;
margin-top: 20rem;
  margin-right: 10rem;
 }

.loginSubmit{
    background-color: white;
    color:black;
    font-size: 1.2rem;            
    border-radius: 25px; 
    height: 4rem;   
    width: 12rem;  
    margin-top: 3rem;
    margin-left: 14rem;
    text-align: center;
 }
 
 .loginTitle{
  margin-top: 5rem;
  text-align: center;

 }

 .signupform{
  margin-left: 10rem;
margin-top: 3rem;
  margin-right: 10rem;
  border: solid black;
  padding: 2rem;
  border-radius: 25px ;
 }
 
 .radiobuttons{
  margin-top: 1rem;
  display:flex;
  
 }

 .genderImage{
 margin-top: 2rem;
 text-align: center ;
 
 }


.titlescreen-image{
  padding: 2rem;
 background-color:  rgb(0 ,0, 0,0.8);
 border-radius: 25px;
 display: inline-block;
}

.carousel-item{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color:  rgb(0 ,0, 0,0.6);
  text-align: center;
}

.titlesignup{
  text-align: center;
}

.titlesignup,h2{
  text-align: center;
}

.placeholdertextproject{
  color: white;
  text-align: center;
  margin-top: 14rem;
}

.character{
  border: solid black ;
  margin-top: 2rem;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 25px;
  text-align: center;

}


.freePik-attribute{
  color: white;
  margin-left: 1rem;
  margin-top: 5rem;
}

}

@media only screen and (min-width: 768px) {
  
  .mainTitleScreen{
    background-image: url("../assets/images/Background2.jpg");
     background-size: cover;
     background-position: center;
  height: 100vh;
  width: 100%;
  }

  
  .titlescreen-image{
    padding: 2rem;
   background-color:  rgb(0 ,0, 0,0.8);
   border-radius: 25px;
   text-align: center;
  }

 
}

@media only screen and (min-width: 1200px) {
 
  body{
    background-color: black;
  }
  .mainTitleScreen{
  object-fit: cover;
  height: 100vh;
  width: 100%;
  background-size:cover;
  background-attachment: fixed;
  }

  .transparancyTitleScreen{
    height: 100vh;
    background-color: rgb(0, 0, 0,0.6);
    padding-top: 5rem;
  }


  .titlescreen-image{
    padding: 2rem;
   background-color:  rgb(0 ,0, 0,0.8);
   border-radius: 25px;
   text-align: center;
  }

  .carousel-control-prev{
    margin-left: 10rem;
  }

  .carousel-control-next{
    margin-right: 10rem;
  }



}