body {
    display: grid;


    gap: 0px 0px;
    grid-template-areas:
        "header header header header"
        "articel yourpokemon otherpokemon article"
        "articel yourpokemon otherpokemon article"
        "footer footer footer footer ";


    background-image: url(/assets/img/placeholder-background3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


header {
    display: flex;
    grid-area: header;
    border: solid black;
    max-width: fit-content;
}

header>img {
    height: auto;
    width: 80px;
}

#yourPokemon {
    grid-area: yourpokemon;
}

#yourPokemon>section,
#otherPokemon>section {
    display: grid;
    border: solid black;

    padding: 15px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

#yourPokemon>h1,
#otherPokemon>h1 {
    margin-bottom: 50px;
}

#otherPokemon {
    grid-area: otherpokemon;
}

#otherPokemon,
#yourPokemon {
    display: grid;
    margin-top: 150px;
    justify-content: center;
    text-align: center;
}

img {
    height: auto;
    width: 400px;
}

footer {
    grid-area: footer;
    margin-left: 250px;
    margin-top: 50px;
    border: solid black;
    width: max-content;
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 666px) {
    body {
        display: grid;
        grid-template-areas:
            "header"
            "yourpokemon"
            "otherpokemon"
            "footer"
        ;
        height: 100vh;
    }

    header {
        grid-area: header;
    }

    header>img {
        height: auto;
        width: 50px;
    }

    #yourPokemon {
        grid-area: yourpokemon;
    }

    #otherPokemon {
        grid-area: otherpokemon;
    }

    #yourPokemon>section,
    #otherPokemon>section {
        display: grid;
        border: solid black;
        padding: 5px;
        margin-top: 15px;
        justify-content: center;
    }

    #yourPokemon>h1,
    #otherPokemon>h1 {
        margin-bottom: 25px;
    }

    #otherPokemon,
    #yourPokemon {
        display: grid;
        margin-top: 50px;
        justify-content: center;
        text-align: center;

    }

    #otherPokemon>img,
    #yourPokemon>img {
        height: auto;
        width: 125px;
    }

}