<header class="headerPlayer">
    <div class="playerProfile">
        <img class="playerProfileAvatar" src="./assets/img/Boy-headshot.jpg" alt="man/vrouw">
        <div class="playerInfo">
        <p class="playerName"><%= user.userName %></p>
        <p class="playerRank"><%= rankName %></p>
        </div>
    </div> 
    <div class="pokemonInfo">
        <img src="<%= pokemon.front_default %>" alt="huidige pokemon">
         <p class="currentPokemonName"><%= pokemon.name %></p>
    </div>
</header>