<%- include("partials/top") %>
<title>Battle</title>
</head>

<body>
  <%- include("partials/header") %>
  <main id="battleMain2">
    <div class="gridEnemy">
        <div class="EnemyHP">
            <h3 class="battleName">Charmander</h3>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <p class="textBeforeHP">HP </p>
              <div class="progress-bar bg-success" style="width: 100%"></div>
            </div>
        </div>
         <div class="EnemyPokemon">
         <img id="enemySprite" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt=""></div>
       </div>

         <div class='gridAlly'>
            <div class="AllyHP">
                <h3 class="battleName">Dragonite</h3>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                  <p class="textBeforeHP">HP </p>
                  <div class="progress-bar bg-success" style="width: 100%"></div>
                </div>
            </div>
             <div class="AllyPokemon">
             <img id="mySprite" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/149.png" alt=""></div>
         </div>
 
         <div class="infoBattle"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consequuntur minus, excepturi
            dolore vitae architecto totam repellendus eos distinctio culpa ullam. In vel voluptatum natus a amet ipsam,
            voluptatem doloremque!</p>
        </div>

        <div class="commands">
          <button type="button" class="attack btn">Aanvallen</button>
          <button type="button" class="catch btn">Vangen</button>
          <a href="./mainpage.html" type="button" class="run btn">Wegrennen</a>
        </div>


  </main>
<%- include("partials/bottom") %>