<%- include("partials/top") %>
  <title>Projects</title>
 
</head>

<body class="no-grid-layout" class="Pages">
    <main class="mainProjectScreen">
  
          <div class="projectScreenContainer">
            <div class="dropdownListIndex">
              <img class="projectScreenImage" src="../assets/imgs/APmon-game.jpg" alt="Selected Image" id="image">
              <div class="bottomProjectScreen">
                <select  class="gameName" id="dropdown">
                  <option value="1">APmon</option>
                  <option value="2">Fifa</option>
                  <option value="3">Fortnite</option>
                  <option value="4">Lego</option>
                  <option value="5">Lord of the rings</option>
                  <option value="6">Magic the gathering</option>
              </select>
          </div>
              </div>   
        <a href="./titleScreen">
        <button type="button" class="ProjectScreenBtn">Spelen </button>
      </a>
           
    </main>

    <script>
      const dropdown = document.getElementById('dropdown');
      const image = document.getElementById('image');
  
      dropdown.addEventListener('change', function() {
          const selectedValue = dropdown.value;
          switch (selectedValue) {
              case '1':
                  image.src = "../assets/imgs/APmon-game.jpg";
                  break;
              case '2':
                  image.src = "../assets/img/FIFA.jpg";
                  break;
              case '3':
                  image.src = "../assets/img/FORTNITE.jpg";
                  break;
              case '4':
                  image.src = "../assets/img/LEGO.jpg";
                  break;
              case '5':
                  image.src = "../assets/img/LOTR.jpg";
                  break; 
              case '6':
                  image.src = "../assets/img/MTG.jpg";
                  break;     
              default:
                  image.src = '';
                  break;
          }
      });
  </script>
    
</body>
</html>