<%- include("partials/top") %>
<title>Login</title>
</head>
<body class="no-grid-layout" class="Pages" >
    <main class="mainLogin">
        <form> 
            <div class="loginform">
               <h1 class="loginTitle" >Login</h1>
                <input class="textField"  type="username" class="form-control" id="usernameInput" placeholder="Gebruikersnaam">
              <input  class="textField" type="password" class="form-control" id="passwordInput" placeholder="Wachtwoord">
              <div>
                <a href="./howtoplay">
                  <button type="submit"  class="loginSubmit">Inloggen</button>
                </a>
              </div>
            </div>
          </form>
    </main>   
    <%- include("partials/bottom") %>