<%- include("partials/top") %>
<title>Login</title>
</head>
<body class="no-grid-layout" class="Pages" >
    <main class="mainLogin">
        <form action= "/login" method= "POST"> 
            <div class="loginform">
              <h1 class="loginTitle" >Login</h1>
                <input class="textField"  type="username" class="form-control" name="usernameInput" id="usernameInput" placeholder="Gebruikersnaam" required>
                <input  class="textField" type="password" class="form-control" name="passwordInput" id="passwordInput" placeholder="Wachtwoord" required>
              <div>
                  <button type="submit" class="loginSubmit">Inloggen</button>
              </div>
            </div>
          </form>
    </main>   
    <%- include("partials/bottom") %>