<%- include("partials/top") %>
    <title>MainPage</title>
</head>

<body id="MainPage">
    <%- include("partials/header") %>
    <main>
        <section id="menu">
            <button id="gues"><a href="battlechoose"><img src="assets/img/pokemon-vechten.png" alt=""></a></button>
            <button id="pokedex"><a href="pokedex"><img src="assets/img/Pokemon-PokeDex.png" alt=""></a></button>
            <button id="how"><a href="whosthatpokemon"><img src="assets/img/Wie-Is-Deze-Pokemon.png" alt=""></a></button>
            <button id="vecht"><a href="howtoplay"><img src="assets/img/Hoe-Moet-Je-Spelen.png"  alt=""></a></button>
        </section>

    </main>

    <footer>
        <button id="logout"><a href="titleScreen><img  id="footer" src="assets/img/logoutIcon.png" alt="uitloggen"></a></button>
    </footer>
    <%- include("partials/bottom") %>