<%- include("partials/top") %>
  <title>Signup</title>
  </head>

  <body class="no-grid-layout">
    <form>
      <main class="mainSignup">
        <form>
          <div class="signupform">
            <div class="signupTitle">
              <h3>Account aanmaken </h3>
            </div>
            <div class="avatar"></div>

            <input class="textField" type="email" class="form-control" id="emailInput"
            placeholder="Kies een e-mail">
            <input class="textField" type="username" class="form-control" id="usernameInput"
              placeholder="Kies een gebruikersnaam">
            <input class="textField" type="password" class="form-control" id="passwordInput"
              placeholder="Kies een wachtwoord">

              <div class="beginPokemon">
                <h3 class="starterPokemonText">Kies een begin pokemon</h3>
                <form action="/action_page.php">
                    <% for (let i = 0 ; i < 3; i++) { %>
                        <label>
                            <input type="radio" name="pokemon" value="<%= sprites[i] %>">
                            <img class="beginPokemonImg" src="<%= sprites[i] %>">
                        </label>
                    <% } %>
                </form>
            </div>
            

            <div>
              <a href="./howtoplay">
                <button type="button" class="loginSubmit">Account maken</button>
              </a>
            </div>
          </div>
        </form>
      </main>
    </form>
    <%- include("partials/bottom") %>