<%- include("partials/top") %>
<title>Title Screen</title>
</head>

<body class="no-grid-layout" >
        <main class="mainTitleScreen">
            <div class="transparancyTitleScreen">
            <div class="titlescreen-image">
                <img class="apmon-logo" src="./assets/imgs/apmon-logo.png" height="50px" width="200px" alt="">
            </div>     
        <div class="buttonLoginContainer">
            <a href="./login">
            <button type="button"  class="btn btn-primary">Login</button>
        </a>
        </div>
        <div class="buttonSignupContainer">
            <a href="./signup">
            <button type="button" class="btn btn-primary">Registreren</button>
        </a>
        </div>

        <div class="buttonExitGameContainer">
            <a href="./index">
            <button type="button" class="btn btn-primary">Afsluiten</button>
        </a>
        </div>

    </div>
        </main>
<%- include("partials/bottom") %>